server:
  servlet:
    context-path: /
  port: 10003

logging:
  level:
    org.springframework.security: INFO
    com.netflix.config.sources.URLConfigurationSource: ERROR
    org.springframework.boot.actuate.endpoint.EndpointId: ERROR

spring:
  application:
    name: mscode
  profiles:
    active: native
  cloud:
    compatibility-verifier:
      enabled: false
  security:
    user:
      password: 123456
  main:
    allow-bean-definition-overriding: true
  mail:
    host: smtp.qq.com
    port: 465
    username: real-username
    password: real-password
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          ssl:
            enable: true
    #data:
    # mongodb:
    #  uri: mongodb://root:123456@127.0.0.1:27017/mscode
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://139.9.47.120:3306/mscode?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
    username: mscode
    password: 123456
    druid:
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
      initial-size: 10
      max-active: 100
      min-idle: 10
      max-wait: 60000
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validationQuery: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true
  thymeleaf:
    mode: LEGACYHTML5
    cache: false
  activiti:
    check-process-definitions: false
    db-identity-used: true
    database-schema-update: false
    db-history-used : true
    history-level: full
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  resources:
    static-locations: classpath:static/upload/,file:static/upload/
  mvc:
    static-path-pattern: /static/upload/**
    pathmatch:
      matching-strategy: ant-path-matcher

redis:
  host: localhost
  port: 6379
  password: 123456
  expiredTime: 86400

druid:
  mysql:
    usePingMethod: false

aliyun:
  sms:
    regionId: cn-hangzhou
    accessKeyId: real-accessKeyId
    accessSecret: real-accessSecret
    product: Dysmsapi
    domain: dysmsapi.aliyuncs.com

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
  endpoint:
    health:
      show-details: always
  health:
    # 生产环境设置此4项的enabled为true
    redis:
      enabled: false
    rabbit:
      enabled: false
    mongo:
      enabled: false
    mail:
      enabled: false
  metrics:
    tags:
      application: mscode

security:
  oauth2:
    resource:
      user-info-uri: http://127.0.0.1:10003/users/current

zuul:
  ignoredServices: '*'
  host:
    connect-timeout-millis: 80000
    socket-timeout-millis: 80000
  ribbon-isolation-strategy: thread
  thread-pool:
    use-separate-thread-pools: true
  prefix: /api
  stripPrefix: true
  routes:
    mscode-auth:
      path: /uaa/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-account-service:
      path: /account/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-admin-service:
      path: /admin/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-chart-service:
      path: /chart/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-file-service:
      path: /file/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-notification-service:
      path: /notification/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-statistics-service:
      path: /statistics/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-activiti-service:
      path: /activiti/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-generator-service:
      path: /generator/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
    mscode-law-service:
      path: /law/**
      url: http://127.0.0.1:10003
      stripPrefix: true
      sensitiveHeaders:
