<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinatechstar.generator.mapper.GeneratorMapper">

    <sql id="queryConditions">
        SELECT CAST(mg.id AS CHAR) AS "id",mg.package_name AS "packageName",mg.entity_name AS "entityName",mg.table_name AS "tableName",mg.service_name AS "serviceName",GROUP_CONCAT(mgf.field) AS "fieldList",mg.create_time AS "createTime"
        FROM mscode_generator mg LEFT JOIN mscode_generator_field mgf ON mg.id = mgf.generator_id
    </sql>

    <select id="queryGenerator" parameterType="map" resultType="java.util.LinkedHashMap">
        <include refid="queryConditions"></include>
  	    WHERE 1 = 1
      	<if test="entityName != null and entityName != ''">
    		AND entity_name LIKE CONCAT('%',#{entityName},'%')
    	</if>
        <if test="serviceName != null and serviceName != ''">
            AND service_name LIKE CONCAT('%',#{serviceName},'%')
        </if>
        <if test="packageName != null and packageName != ''">
            AND package_name LIKE CONCAT('%',#{packageName},'%')
        </if>
        <if test="tableName != null and tableName != ''">
            AND table_name LIKE CONCAT('%',#{tableName},'%')
        </if>
        <if test="tenantCode != null and tenantCode != ''">
            AND mg.tenant_code = #{tenantCode}
        </if>
        GROUP BY mg.id
        <if test="sort != null and sequence != null">
            ORDER BY ${sort} ${sequence}
        </if>
    </select>

    <select id="queryGeneratorById" resultType="java.util.LinkedHashMap">
        <include refid="queryConditions"></include>
        WHERE mg.id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
        AND mg.tenant_code = #{tenantCode,jdbcType=VARCHAR}
        GROUP BY mg.id
    </select>

    <select id="queryFieldByGeneratorId" resultType="java.util.LinkedHashMap">
        SELECT id AS "id",field_type AS "fieldType",field AS "field",CONCAT(UPPER(LEFT(field,1)),SUBSTRING(field,2,(LENGTH(field)-1))) AS "upperField"
        FROM mscode_generator_field
        WHERE generator_id = #{generatorId,jdbcType=BIGINT} AND tenant_code = #{tenantCode,jdbcType=VARCHAR}
    </select>

    <select id="queryGeneratorTable" parameterType="map" resultType="java.util.LinkedHashMap">
        SELECT MAX(t.table_name) AS tableName,MAX(t.table_comment) AS tableComment,GROUP_CONCAT(DISTINCT c.column_name) AS columnName,MAX(t.create_time) AS createTime
        FROM information_schema.tables t LEFT JOIN information_schema.columns c ON t.table_name = c.table_name
        WHERE t.table_schema = (SELECT DATABASE()) AND t.table_name LIKE 'mscode%'
        <if test="tableName != null and tableName != ''">
            AND t.table_name LIKE CONCAT('%',#{tableName},'%')
        </if>
        <if test="tableComment != null and tableComment != ''">
            AND t.table_comment LIKE CONCAT('%',#{tableComment},'%')
        </if>
		GROUP BY t.table_name
        <if test="sort != null and sequence != null">
            ORDER BY ${sort} ${sequence}
        </if>
    </select>

    <insert id="insertGenerator" parameterType="Generator">
        INSERT INTO mscode_generator
            (id, package_name, entity_name, table_name, service_name, tenant_code)
        VALUES
            (#{id,jdbcType=BIGINT}, #{packageName,jdbcType=VARCHAR}, #{entityName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, #{tenantCode,jdbcType=VARCHAR})
    </insert>

    <insert id="insertGeneratorField">
        INSERT INTO mscode_generator_field
            (id, field_type, field, generator_id, tenant_code)
        VALUES
            (#{id,jdbcType=BIGINT}, #{fieldType,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}, #{generatorId,jdbcType=BIGINT}, #{tenantCode,jdbcType=VARCHAR})
    </insert>

    <update id="updateGenerator" parameterType="Generator">
        UPDATE mscode_generator
        <set>
            <if test="packageName != null and packageName != ''">package_name=#{packageName},</if>
            <if test="entityName != null and entityName != ''">entity_name=#{entityName},</if>
			<if test="tableName != null and tableName != ''">table_name=#{tableName},</if>
			<if test="serviceName != null and serviceName != ''">service_name=#{serviceName},</if>
        </set>
        WHERE id=#{id,jdbcType=BIGINT} AND tenant_code = #{tenantCode,jdbcType=VARCHAR}
    </update>

    <delete id="deleteGenerator">
		DELETE FROM mscode_generator WHERE id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id,jdbcType=BIGINT}
		</foreach>
        AND tenant_code = #{tenantCode,jdbcType=VARCHAR}
	</delete>

    <delete id="deleteGeneratorField">
        DELETE FROM mscode_generator_field WHERE generator_id IN
		<foreach item="generatorId" collection="array" open="(" separator="," close=")">
			#{generatorId,jdbcType=BIGINT}
		</foreach>
        AND tenant_code = #{tenantCode,jdbcType=VARCHAR}
    </delete>

</mapper>